html {
    height: 100%;
}

body {
    padding: 0px;
    margin: 0px;
    display: flex;
    height: 100%;
}

.app {
    display: flex;
    flex: 1;
    flex-direction: column;
}

h3 {
    color: yellow;
}